/* Home */

.home {
    padding: 4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 30px 0 6rem;
}

.home-text {
    width: 60%;
    padding: 2rem;
    border-radius: 10px;
}

.title {
    font-size: 24px;
    color: #ccc;
    margin-bottom: 5px;
}

.subTitle {
    font-size: 34px;
    font-weight: 900;
    margin-top: 10px;
    color: orange;
}

.animated-text {
    font-size: 34px;
    font-weight: 900;
    min-width: 280px;
}

.animated-text span {
    position: relative;
}

.animated-text span::before {
    content: "App Developer";
    animation: words 4s steps(1) infinite;
}

.animated-text span::after {
    content: "";
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    background-color: #1e1e1e;
    border-left: 2px solid orange;
    right: -8px;
    animation: typing 10s steps(14) infinite, cursor 0.8s infinite;
}
@keyframes cursor {
    50% {
        border-color: transparent;
    }
}

@keyframes cursora {
    to {
        border-left: 2px solid #1e1e1e;
    }
}

@keyframes words {
  0%, 50% { content: "App Developer"; }
  51%, 100% { content: "Web Developer"; }
}

@keyframes typing {

    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95% {
        width: 0;
    }

    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85% {
        width: calc(100% + 8px);
    }
}

.row-btn {
    display: flex;
    gap: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.row-btn a {
    text-decoration: none;
}

.btn-outline {
    font-size: 16px;
    padding: 8px 25px;
    background-color: transparent;
    color: white;
    border: 1px solid #ccc;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.btn-outline:hover {
    background-color: orange;
}

.level-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 10px;
    color: white;
    background-color: #222222;
    border-radius: 6px;
}

.level-box div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: start;
    padding: 0 20px;
    position: relative;
    flex: 1;
}

.level-box div:not(:last-child)::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 2px;
    height: 60%;
    background-color: #555;
}

.home-image {
    height: 400px;
    width: 400px;
    background-color: #222222;
    border-radius: 50%;
    margin-top: 2rem;
    overflow: hidden;
}

.profile-image {
    height: 100%;
    width: 100%;

    background-image: url('https://res.cloudinary.com/dbaszvjvp/image/upload/v1757963938/profileImage_amvnia.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}